.banner {
    margin-left: 14px;
    margin-right: 11px;
    margin-top: 22px;
    margin-bottom: -88px;
    position: relative;
  
    &__image {
      border-radius: 10px;
      position: relative;
      z-index: 1;
      width: 100%;
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 58%;
      background-color: black;
      border-radius: 10px;
      opacity: 0.2;
      z-index: 2;
    }
  
    &__text {
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      position: relative;
      left: 15px;
      white-space: pre-line;
      bottom: 115px;
      z-index: 3;
    }
  }
  