.banner {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  height: 111px;

  &__home {
    margin-left: 14px;
    margin-right: 11px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 10px;
  }

  &__image {
    mix-blend-mode: darken;
    height: 111px;
    width: 100%;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
  }



  &__text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    position: relative;
    left: 20px;
    bottom: 110px;
    white-space: pre-line;
    z-index: 3;
  }

  // Responsive

  @include desktop {

    height: 223px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

    &__home {
      width: 100%;
      height: 223px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      border-radius: 25px;
    }

    & img {
      height: 100%;
      width: 100%;
      border-radius: 25px;
    }

    &__text {
      font-size: 48px;
      white-space: nowrap;
      bottom: 190px;
      left: 0px;
    }

  }

  @include tablet {
    height: 223px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

    &__home {
      width: 97%;
      height: 223px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      border-radius: 25px;
      margin-bottom: 22px;
    }

    &__image {
      height: 100%;
      width: 100%;
      border-radius: 25px;
    }

    &__text {
      font-size: 48px;
      white-space: nowrap;
      bottom: 190px;
      left: 0px;
    }
  }
}